.modal__screen
{
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: row;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, .75);

    justify-content: center;
    align-items: center;
}

.modal
{
    font-size: 1.5rem;

    display: flex;
    flex-direction: column;

    padding: 5px;

    color: #2A2B3A;
    border: none;
    background-color: #FFFFFF;

    align-items: center;

    position: relative;
}

.modal__close { 
    font-size: var(--font-big);
    color: var(--font-color-white-gray);

    position: absolute;
    right: 10px;
    top: 0px;
}
.modal__close:hover {
    cursor: pointer;
}